@inject SignInManager<AppUser> signInManager;
@model RoomsViewModel;
<!-- Header Section Begin -->
<header class="header-section header-normal">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="tn-left">
                        <li><i class="fa fa-phone"></i>@Model.contact.Phone</li>
                        <li><i class="fa fa-envelope"></i> @Model.contact.Email</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="tn-right">
                        <div class="top-social">
                            @foreach (var item in Model.socialMedias)
                            {
                                if (item.Title is "Facebook")
                                {
                                    <a href="@item.URL" target="_blank"><i class="fa fa-facebook"></i></a>
                                }
                                else if (item.Title is "Twitter")
                                {
                                    <a href="@item.URL" target="_blank"><i class="fa fa-twitter"></i></a>
                                }
                                else if (item.Title is "Instagram")
                                {
                                    <a href="@item.URL" target="_blank"><i class="fa fa-instagram"></i></a>
                                }
                            }
                        </div>
                        <a href="#" class="bk-btn">Reserve Now</a>
                        @*  <div class="language-option">
                        @if (signInManager.IsSignedIn(User))
                        {
                        <form method="post" asp-action="signout" asp-controller="account" asp-area="management">
                        Login:  @User.Identity.Name
                        </form>
                        }
                        else
                        {
                        <span>Account <i class="fa fa-angle-down"></i></span>
                        <div class="flag-dropdown">
                        <ul>
                        <li><a asp-action="login" asp-controller="account" asp-area="management">Login</a></li>
                        <li><a asp-action="register" asp-controller="account" asp-area="management">Register</a></li>
                        </ul>
                        </div>
                        }
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a asp-action="index" asp-controller="home">
                            <img src="~/images/logo.png" alt="" asp-append-version="true" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li><a asp-action="index" asp-controller="home">Home</a></li>
                                <li class="active"><a asp-action="index" asp-controller="rooms">Rooms</a></li>
                                <li><a asp-action="index" asp-controller="about">About Us</a></li>
                                <li><a asp-action="index" asp-controller="news">News</a></li>
                                <li><a asp-action="index" asp-controller="contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="nav-right search-switch">
                            <i class="icon_search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Rooms</h2>
                    <div class="bt-option">
                        <a asp-action="index" asp-controller="home">Home</a>
                        <span>Rooms</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            @if (Model.rooms != null)
            {

                foreach (var item in Model.rooms)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="room-item">
                            @if (item.Images != null)
                            {
                                for (int i = 0; i < item.Images.Count(); i++)
                                {
                                    if (i is 0)
                                    {
                                        <img src="~/images/rooms/@item.Images.ToList()[i].ImageURL" alt="" asp-append-version="true">
                                        break;
                                    }
                                }
                            }
                            <div class="ri-text">
                                <h4>@item.Name</h4>
                                <h3># @item.Price<span>/Pernight</span></h3>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>@item.Size ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion @item.Capacity</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>Standard Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>AC, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a asp-action="details" asp-controller="rooms" asp-route-id="@item.RoomTypeID" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="col-lg-12">
                <div class="room-pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

