@inject SignInManager<AppUser> signInManager;
@model OccupancyViewModel
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Previous Bookings</h4>
                        <h2 class="card-title right">Revenue Generated
                            <span class="text-success" id="totalPaidAmount">₦@Model.Bookings.Sum(x => x.Payment.PaidAmount)</span>
                            </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="example">
                                    <p class="mb-1">From This Range</p>
                                    <input class="form-control text-center input-daterange-datepicker" name="daterange" placeholder="01/01/2023 - 01/01/2033" />
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div id="content_div" class="table-responsive">
                            <table id="example">
                                <thead>
                                    <tr>
                                        <th scope="col">S/No</th>
                                        <th scope="col">Guest</th>
                                        <th scope="col">Check In</th>
                                        <th scope="col">Check Out</th>
                                        <th scope="col">Suite Occupied</th>
                                        <th scope="col">Paid(₦)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var row in Model.Bookings)
                                    {
                                        <tr>
                                            <td scope="col">@row.BookingID</td>
                                            <td scope="col">@row.Guest.Name</td>
                                            <td scope="col">@row.CheckIn</td>
                                            <td scope="col">@row.CheckOut</td>
                                            <td scope="col">@row.RoomType.Name</td>
                                            <td scope="col">@row.Payment.PaidAmount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function (start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });

        $(document).ready(function () {
   

            $(".input-daterange-datepicker").on("change", function () {
                var dateRange = $(this).val();
                var dates = dateRange.split("-");
                var startDate = $.trim(dates[0]);
                var endDate = $.trim(dates[1]); 

                $.ajax({
                    type: "get",
                    url: "@Url.Action("GetOccupancyReport")",
                    data: { from: startDate, to: endDate },
                    success: function (data) {
                        updateTable(data);
                    },
                    error: function (xhr, status, error) {
                        // Handle error
                    }
                });
            });
       
        });


        function updateTable(data) {
            var table = $("#example").DataTable();
            table.clear();
            var totalPaidAmount = 0;
            $.each(data, function (index, item) {
                table.row.add([
                    index + 1, 
                    item.guest.name,
                    item.checkIn,
                    item.checkOut,
                    item.roomType.name,
                    item.payment.paidAmount
                ]).draw();
                totalPaidAmount += parseFloat(item.payment.paidAmount);
            });

            var formattedTotalPaidAmount = totalPaidAmount.toLocaleString(undefined, {
                style: 'currency',
                currency: 'NGN' 
            });
            $("#totalPaidAmount").text(formattedTotalPaidAmount);
        }



    </script>
}