@inject SignInManager<AppUser> signInManager;
@model IEnumerable<SocialMedia>;
<div class="content-body">
    <div class="container-fluid">


        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Modify Public Home Page</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure" asp-action="editmedia" asp-controller="cmsconfiguration" asp-area="management">
                                <div class="form-row">
                                    @if (Model != null)
                                    {
                                        @for (var item = 0; item < Model.Count(); item++)
                                        {
                                            <input type="hidden" asp-for="@Model.ToList()[item].ID">
                                            <div class="form-group col-md-6">
                                                <label asp-for="@Model.ToList()[item].Title">Media Title</label>
                                                <input asp-for="@Model.ToList()[item].Title" class="form-control">
                                                <span asp-validation-for="@Model.ToList()[item].Title" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label asp-for="@Model.ToList()[item].URL">Media URL</label>
                                                <input asp-for="@Model.ToList()[item].URL" class="form-control">
                                                <span asp-validation-for="@Model.ToList()[item].URL" class="text-danger"></span>
                                            </div>
                                        }
                                    }
                                </div>

                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">

        function OnSuccess() {
            swal({
                title: "Good Job !!!",
                text: "your record was saved successfully",
                type: "success"
            });
        }
        function OnFailure() {
            swal({
                title: "Oops... ",
                text: "something went wrong. please try again",
                type: "wrong"
            });
        }

    </script>
}